
.preloader {
    opacity: 1;
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity 0.2s;
    opacity: 1;
}

.loaded .preloader {
    display: none;
}

.App {
    display: grid;
    grid-template-areas: "header header"
        "currentWeather currentWeather"
        "dailyForecast dailyForecast"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2% 15% 15% 10%;
    height: auto;
    font-size: 150%;
    font-family: 'Roboto';
}

body{
    height: 100%;
}

.header {
    grid-area: header;
    background: #FF1800;
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;

    h1 {
        font-size: 180%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: white;
    }

    transition: all 0.5s;
}

.App nav {
    grid-area: nav;
}

.App .currentWeather {
    text-align: center;
    grid-area: currentWeather;
    display: grid;
    grid-template-areas: 'cityNav'
        'weatherInfo';
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;

    .weatherInfo {
        grid-area: weatherInfo;
    }

    .cityNav {
        grid-area: cityNav;
    }

    .deleteButton {
        box-shadow: none;
        width: 200px;
        background: #FF1800;

        &:hover {
            box-shadow: 1px 1px 5px #FF1800;
        }
    }

    button {
        font-size: 120%;
        border: none;
        max-width: 250px;
        width: auto;
        height: 50px;
        margin: 5px;
        background: #1808fb;
        box-shadow: 1px 1px 5px #1808fb;
        color: white;
        font-family: 'Roboto';

        &:focus,
        &:active {
            outline: none;
            background: #10069e;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    form {
        input[type=submit] {
            border: none;
            width: 200px;
            height: auto;
            background: #00C12B;
            color: white;
            padding: 10px;

            &:hover {
                opacity: 0.7;
            }

            &:active,
            &:focus {
                outline: none;
                background: rgb(1, 161, 36);
            }
        }

        input {
            border: 5px solid black;
            box-shadow: 1px 1px 1px;
            width: 50%;
            height: auto;
            font-size: 100%;
            padding: 5px;
            margin: 5px;
        }

        input[type=text] {

            &:active,
            &:focus {
                box-shadow: 1px 1px 5px;
            }
        }
    }
}

.App .dailyForecast{
    overflow: scroll;
    grid-area: dailyForecast;
    text-align: center;
    display: grid;
    grid-template-areas: 'cityNav'
        'weatherInfo';
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    text-align: left;
    margin: auto;
    width: 65%;
    padding: 50px;
    border: 10px solid black;
    border-width: 10px 50px 10px 10px;
}

.App footer {
    grid-area: footer;
}

@media(min-width: 800px) {
    .header {
        height: 80px;
    }

    .App .currentWeather button {
        width: 250px;
    }
}

@media(min-width: 1000px) {
    .App {
        grid-gap: 50px;
    }

    .App .currentWeather {
        grid-template-areas: 'weatherInfo cityNav';
        grid-template-columns: 70% 30%;
    }
}

@media(min-width: 1200px){
    .App .currentWeather{
        text-align: left;
        margin: auto;
        width: 65%;
        padding: 50px;
        border: 10px solid black;
        border-width: 10px 50px 0px 10px;
    }
    .header{
        height: 100px;
    }
}