html,body{
    height: 100%;
}
.App{
    display: grid;
    grid-template-areas: "header header"
                        "main main"
                        "main main"
                        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    height: 100%;
}

.App header{
    grid-area: header;
}

.App nav{
    grid-area: nav;
}

.App main{
    grid-area: main;
    margin: auto;
}

.App footer{
    grid-area: footer;
}
